Repository StationWare/stationware, pull requests merged in 2023-02, with the labels that each got.

#2 Maps
  Resources/Maps/stationware.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/stationware.yml
Labels: Changes: Map, No C#

#7 Bus Revamp
  Resources/Maps/stationware.yml
  Resources/Prototypes/Entities/_StationWare/Structures/structures.yml
Labels: Changes: Map, No C#

#41 Win/Lose effects
  Content.Server/_StationWare/Challenges/ChallengeStateEffectComponent.cs
  Content.Server/_StationWare/Challenges/StationWareChallengeComponent.cs
  Content.Server/_StationWare/Challenges/StationWareChallengeSystem.Effects.cs
  Content.Server/_StationWare/Challenges/StationWareChallengeSystem.cs
  Resources/Audio/_StationWare/attributions.yml
  Resources/Audio/_StationWare/buzzer.ogg
  Resources/Audio/_StationWare/correct.ogg
  Resources/Prototypes/Entities/Effects/winlose.yml
  Resources/Textures/_StationWare/winlose.rsi/lose.png
  Resources/Textures/_StationWare/winlose.rsi/meta.json
  Resources/Textures/_StationWare/winlose.rsi/win.png
Labels: Changes: Sprites

#47 Gun with one bullet challenge
  Resources/Locale/en-US/_StationWare/ware-events/challenges.ftl
  Resources/Prototypes/Challenges/challenges.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/stationware_pistols.yml
Labels: No C#

#50 King of the hill
  Content.Server/_StationWare/Challenges/Modifiers/Components/ControlPointModifierComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Components/SpawnEntityModifierComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/ControlPointModifierSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/SpawnEntityModifierSystem.cs
  Content.Server/_StationWare/Challenges/StationWareChallengeSystem.cs
  Content.Shared/_StationWare/Weapons/Melee/KnockbackWeaponComponent.cs
  Content.Shared/_StationWare/Weapons/Melee/KnockbackWeaponSystem.cs
  Resources/Locale/en-US/_StationWare/ware-events/challenges.ftl
  Resources/Prototypes/Challenges/challenges.yml
  Resources/Prototypes/Entities/_StationWare/Objects/Weapons/baseball_bat.yml
  Resources/Prototypes/Entities/_StationWare/Structures/controlpoint.yml
  Resources/Textures/_StationWare/controlpoint.rsi/icon.png
  Resources/Textures/_StationWare/controlpoint.rsi/meta.json
Labels: Changes: Sprites

#48 Keep the Crown challenge
  Content.Server/_StationWare/Challenges/Modifiers/Components/WinningMarkerComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Components/WinningMarkerModifierComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/WinningMarkerModifierSystem.cs
  Resources/Locale/en-US/_StationWare/ware-events/challenges.ftl
  Resources/Prototypes/Challenges/challenges.yml
  Resources/Prototypes/Entities/_StationWare/Effects/crown.yml
  Resources/Prototypes/Entities/_StationWare/Effects/winlose.yml
  Resources/Textures/_StationWare/crown.rsi/icon.png
  Resources/Textures/_StationWare/crown.rsi/meta.json
Labels: Changes: Sprites

#52 5 new challenges
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/_StationWare/Challenges/Modifiers/Components/NonSolidStructuresModifierComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Components/RepeatSpawnEntityModifierComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Components/SpawnEntityModifierComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Components/StayOnGridModifierComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/NonSolidStructuresModifierSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/SpawnEntityModifierSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/StayOnGridModifierSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/WinningMarkerModifierSystem.cs
  Content.Server/_StationWare/Challenges/StationWareChallengeSystem.cs
  Resources/Locale/en-US/_StationWare/ware-events/challenges.ftl
  Resources/Prototypes/Challenges/challenges.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/_StationWare/Structures/explodingtile.yml
  Resources/Prototypes/Entities/_StationWare/Structures/structures.yml
  Resources/Prototypes/explosion.yml
  Resources/Textures/_StationWare/warningtile.rsi/icon.png
  Resources/Textures/_StationWare/warningtile.rsi/meta.json
Labels: Changes: Sprites

#55 server branding
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
Labels: No C#

#56 fix the wack-ass SW icon
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
Labels: No C#

#79 Config Presets
  Resources/ConfigPresets/_StationWare/stationware.toml
  Resources/ConfigPresets/_StationWare/uswest.toml
Labels: No C#

#80 buff knockback
  Resources/Prototypes/Entities/_StationWare/Objects/Weapons/baseball_bat.yml
Labels: No C#

#78 Goodbye Bus, Hello Dome!
  Content.Server/Gravity/GravitySystem.cs
  Content.Shared/Gravity/GravityComponent.cs
  Resources/Maps/stationware.yml
  Resources/Prototypes/Decals/stationware.yml
  Resources/Prototypes/Maps/stationware.yml
  Resources/Prototypes/Palettes/stationware.yml
  Resources/Textures/_StationWare/Decals/swsign.rsi/meta.json
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw1.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw2.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw3.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw4.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw5.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw6.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw7.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw8.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw9.png
Labels: Changes: Map, Changes: Sprites

#87 New logos
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
  Resources/Textures/Logo/svg/sw-big-logo.svg
  Resources/Textures/Logo/svg/sw-small-logo.svg
Labels: No C#
