Repository StationWare/stationware, pull requests merged in 2023-03, with the labels that each got.

#89 Logo rebranding take 2
  Resources/Maps/stationware.yml
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/svg/sw-big-logo.svg
  Resources/Textures/Logo/svg/sw-small-logo.svg
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw1.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw2.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw3.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw4.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw5.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw6.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw7.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw8.png
  Resources/Textures/_StationWare/Decals/swsign.rsi/sw9.png
Labels: Changes: Map, No C#, Changes: Sprites

#93 The Button Challenge
  Content.Server/_StationWare/Challenges/Modifiers/Components/GibOnFailModifierComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Components/InteractionWinComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/GibOnFailModifierSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/InteractionWinSystem.cs
  Content.Server/_StationWare/Challenges/StationWareChallengeSystem.cs
  Resources/Locale/en-US/_StationWare/ware-events/challenges.ftl
  Resources/Prototypes/Challenges/challenges.yml
  Resources/Prototypes/Entities/_StationWare/Structures/the_button.yml
  Resources/Textures/_StationWare/Structures/the_button.rsi/icon.png
  Resources/Textures/_StationWare/Structures/the_button.rsi/meta.json
Labels: Changes: Sprites

#99 The acid burns
  Resources/Locale/en-US/_StationWare/ware-events/challenges.ftl
  Resources/Prototypes/Challenges/challenges.yml
  Resources/Prototypes/Entities/_StationWare/Objects/Weapons/fire_extingusher.yml
  Resources/Prototypes/Reagents/_StationWare/toxins.yml
Labels: no C#

#102 Winning Tiles
  Resources/Locale/en-US/_StationWare/ware-events/challenges.ftl
  Resources/Prototypes/Challenges/challenges.yml
  Resources/Prototypes/Entities/_StationWare/Structures/explodingtile.yml
Labels: no C#

#107 tweak server config
  Resources/ConfigPresets/_StationWare/stationware.toml
  Resources/Locale/en-US/_StationWare/challenges.ftl
  Resources/Locale/en-US/_StationWare/ware-events/ware_events.ftl
Labels: no C#

#108 Add 2 new maps: hydra and dumbbell
  Resources/Maps/dome.yml
  Resources/Maps/dumbbell.yml
  Resources/Maps/hydra.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/dome.yml
  Resources/Prototypes/Maps/dumbbell.yml
  Resources/Prototypes/Maps/hydra.yml
Labels: cartography, no C#

#113 Add a suffix to the exploding tiles
  Resources/Prototypes/Entities/_StationWare/Structures/explodingtile.yml
Labels: no C#

#114 Magma Factory map
  Content.Server/_StationWare/Challenges/Modifiers/Components/SpawnBlockMarkerComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/SpawnEntityModifierSystem.cs
  Content.Shared/Conveyor/ConveyorComponent.cs
  Resources/Maps/magma-factory.yml
  Resources/Prototypes/Entities/_StationWare/Markers/spawn_blocker.yml
  Resources/Prototypes/Entities/_StationWare/Structures/conveyor.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/magma-factory.yml
Labels: cartography

#118 Challenge changes
  Resources/Prototypes/Challenges/challenges.yml
Labels: no C#

#119 cleanup code and fix maps
  Content.Server/_StationWare/Challenges/Modifiers/Systems/FreezeModifierSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/InteractionWinSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/NonSolidStructuresModifierSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/SpawnEntityModifierSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/StayAliveModifierSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/StayOnGridModifierSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/WinningMarkerModifierSystem.cs
  Content.Server/_StationWare/Challenges/StationWareChallengeSystem.Effects.cs
  Content.Server/_StationWare/Challenges/StationWareChallengeSystem.cs
  Content.Server/_StationWare/Mobs/DeleteOnDeathSystem.cs
  Resources/Maps/dumbbell.yml
  Resources/Maps/hydra.yml
Labels: cartography

#122 Death Ball Challenge
  Content.Server/_StationWare/Body/GibOnCollideComponent.cs
  Content.Server/_StationWare/Body/GibOnCollideSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/SpawnEntityModifierSystem.cs
  Content.Server/_StationWare/Physics/BouncyComponent.cs
  Content.Server/_StationWare/Physics/BouncySystem.cs
  Resources/Locale/en-US/_StationWare/challenges.ftl
  Resources/Prototypes/Challenges/challenges.yml
  Resources/Prototypes/Entities/_StationWare/Objects/Fun/death_ball.yml
  Resources/Textures/_StationWare/Objects/Fun/deathball.rsi/icon.png
  Resources/Textures/_StationWare/Objects/Fun/deathball.rsi/meta.json
Labels: sprites

#144 change up the font to a better version
  Resources/Fonts/warioware-inc/license.txt
  Resources/Fonts/warioware-inc/readme.txt
  Resources/Fonts/warioware-inc/warioware-inc.ttf
Labels: no C#

#151 Rule tweaks
  Resources/ConfigPresets/Build/development.toml
  Resources/ConfigPresets/_StationWare/stationware.toml
  Resources/Server Info/SW_Rules.txt
Labels: no C#

#154 3 New Challenges
  Content.Server/Destructible/Thresholds/Behaviors/SetChallengeState.cs
  Content.Server/_StationWare/Challenges/Modifiers/Components/KeepMovingModifierComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Components/SayPhraseModifierComponent.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/KeepMovingModifierSystem.cs
  Content.Server/_StationWare/Challenges/Modifiers/Systems/SayPhraseModifierSystem.cs
  Resources/Locale/en-US/_StationWare/challenges.ftl
  Resources/Prototypes/Challenges/challenges.yml
  Resources/Prototypes/Entities/_StationWare/Structures/barrel.yml
  Resources/Textures/_StationWare/Structures/barrel.rsi/icon.png
  Resources/Textures/_StationWare/Structures/barrel.rsi/meta.json
Labels: sprites

#163 stationware tips
  Resources/ConfigPresets/_StationWare/stationware.toml
  Resources/Prototypes/Datasets/_StationWare/tips.yml
Labels: no C#
